<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.dao.ManualsignMapper">
  <resultMap id="BaseResultMap" type="cn.entity.Manualsign">
    <id column="signid" jdbcType="INTEGER" property="signid" />
    <result column="userid" jdbcType="INTEGER" property="userid" />
    <result column="signtime" jdbcType="TIMESTAMP" property="signtime" />
    <result column="signdesc" jdbcType="VARCHAR" property="signdesc" />
    <result column="signtag" jdbcType="INTEGER" property="signtag" />
  </resultMap>
  <sql id="Base_Column_List">
    signid, userid, signtime, signdesc, signtag
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from manualsign
    where signid = #{signid,jdbcType=INTEGER}
  </select>
</mapper>