<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.dao.OperatelogMapper">
  <resultMap id="BaseResultMap" type="cn.entity.Operatelog">
    <id column="operateid" jdbcType="INTEGER" property="operateid" />
    <result column="userid" jdbcType="INTEGER" property="userid" />
    <result column="operatename" jdbcType="VARCHAR" property="operatename" />
    <result column="objectid" jdbcType="INTEGER" property="objectid" />
    <result column="operatedesc" jdbcType="VARCHAR" property="operatedesc" />
    <result column="operatetime" jdbcType="TIMESTAMP" property="operatetime" />
  </resultMap>
  <sql id="Base_Column_List">
    operateid, userid, operatename, objectid, operatedesc, operatetime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from operatelog
    where operateid = #{operateid,jdbcType=INTEGER}
  </select>

  <select id="findOperatelogAll" parameterType="map" resultType="cn.entity.Operatelog">
        select * from operatelog where 1=1
    <if test="time1!=null and time1!='' and time2!=null and time2!=''">
      and operatetime>=#{time1} and operatetime &lt;= #{time2}
    </if>
    <if test="time1!=null and time1!='' and time2==''">
      and operatetime>=#{time1}
    </if>
    <if test="time1=='' and time2!=null and time2!=''">
      and operatetime &lt;= #{time2}
    </if>
    <if test="days!=null and days!=''">
      <if test="days==1">
        and TO_DAYS(operatetime)=to_days(now())
      </if>
      <if test="days==2">
        and DATE_SUB(CURDATE(), INTERVAL 7 DAY) &lt;= date(operatetime)
      </if>
      <if test="days==3">
        and DATE_SUB(CURDATE(), INTERVAL 30 DAY) &lt;= date(operatetime)
      </if>
    </if>
    limit #{pageNo},5
  </select>

  <select id="operateCount" resultType="java.lang.Integer" parameterType="map">
        select count(1) from operatelog where 1=1
    <if test="time1!=null and time1!='' and time2!=null and time2!=''">
      and operatetime>=#{time1} and operatetime &lt;= #{time2}
    </if>
    <if test="time1!=null and time1!='' and time2==''">
      and operatetime>=#{time1}
    </if>
    <if test="time1=='' and time2!=null and time2!=''">
      and operatetime &lt;= #{time2}
    </if>
    <if test="days!=null and days!=''">
      <if test="days==1">
        and TO_DAYS(operatetime)=to_days(now())
      </if>
      <if test="days==2">
        and DATE_SUB(CURDATE(), INTERVAL 7 DAY) &lt;= date(operatetime)
      </if>
      <if test="days==3">
        and DATE_SUB(CURDATE(), INTERVAL 30 DAY) &lt;= date(operatetime)
      </if>
    </if>
  </select>

  <insert id="operateAdd" parameterType="cn.entity.Operatelog">
        insert operatelog values (0,#{userid},#{operatename},#{objectid},#{operatedesc},#{operatetime})
  </insert>
</mapper>